.address-main-container{
    margin:3rem;
    }
    .address-info-container {
      margin: 2rem;
      border-bottom: 2px solid var(--light-grey);
    }
    .address-info {
      font-size: 1.1rem;
      margin-bottom: 0.2rem;
    }
    @media only screen and (max-width:550px){
        .address-main-container{
            margin:2rem 0.5rem;
        }
    }
    