.forgot-password-buttons{
    justify-content: flex-start;
}
.form-components-container {
  width: 50%;
}
  .password-eye-icon {
    position: absolute;
    top: 2.1rem;
    right: 0.5rem;
  }
  .email-icon {
    position: absolute;
    top: 2.2rem;
    right: 0.5rem;
  }

label {
  transform: initial;
}


  