.wishlist-container{
    background-color:var(--bg-color);
    padding-bottom: 2rem;
}
.wishlist-heading{
    text-align: center;
}
.vertical-card-outer-container{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    margin:0 auto;
   max-width: 56.25rem;
    width: 100%;
}
.vertical-card-container{
    box-shadow: var(--shadow1);
}