.wishlist-heading{
    text-align: center;
}
.vertical-card-outer-container{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    margin:0 auto;
   max-width: 56.25rem;
    width: 100%;
}