.signup-form-container{
    width:100%;   
}
.password-eye-icon{
    position: absolute;
    top:1.2rem;
    right:0.5rem;
}
.email-icon{
    position: absolute; 
    top:2.5rem;
    right:0.5rem;
}

@media  only screen  and (max-width:550px){
    .authentication-details-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }
}
